@charset "utf-8";
/* CSS Document */

header {}
#hdwrap {}
.h_header .logo { width:100%; display:block; padding:15px 0; text-align:center; }
.h_header .sch { width:100%; padding:0 15px; }
.sch .t-sch { width:100%; overflow:hidden; }
.sch .t-sch > span { display:inline-block; }
.in-sch { width:100%; background:#f5f6fa; border-radius:20px; padding:10px 17px; }
.in-sch > input { background:none; border:0; font-size:14px; width:90%; padding:2px 0; letter-spacing:-0.03em !important; }
.in-sch > button { border:0; float:right; background:none; padding:0; width:auto; }
.in-sch > button img { width:20px; }
.h_header .logo img { height:23px; }

.active_header { display:none; }
.active_header { width:100%; height:51px; overflow:hidden; background:#fff; }
.fixed { position:fixed; display:block; top:0; left:0; background:#fff; z-index:9997; }
.active_header .main-gnb { border:0; }

.main-gnb { width:100%; position:relative; padding-top:5px; box-shadow:0 1px 2px rgba(0,0,0,0.2); z-index:2; }
.main-gnb:after { position:absolute; top:0; right:0; z-index:999; display:block; width:45px; height:45px; background:linear-gradient(to right,rgba(255,255,255,0) 0,#fff 100%); content:""; pointer-events:none; }
.main-gnb .bot-gnb { padding-left:15px; white-space:nowrap; overflow-x:auto; }
.main-gnb .bot-gnb li { display:inline-block; padding:0 10px; }
.main-gnb .bot-gnb li:nth-child(7) { padding:0 25px 0 10px; }
.main-gnb .bot-gnb li a { display:block; position:relative; line-height:45px; font-size:15px; color:#000; letter-spacing:-0.03em; }
.gnb-new { display:block; position:absolute; top:9px; right:-6px; width:4px; height:4px; border-radius:50%; background:#ff3161; }
.main-gnb .bot-gnb li.selected a { color:#1b3ab5; font-weight:bold;  }
.main-gnb .bot-gnb li.selected a:after { position:absolute; left:0; bottom:0; width:100%; height:2px; background:#1b3bb5; content:""; }

.sub-top { width:100%; height:50px; position:relative; border-bottom:#eee solid 1px; }
.sub-top h3 { text-align:center; font-size:18px; padding-top:12px; font-family: 'NtdM', Sans-serif; }
.sub-top a { display:block; position:absolute; }
.sub-top .backicon { top:14px; left:15px; }
.carticon { top:10px; right:20px; width:30px; height:26px; background:url(../img/cart.svg) no-repeat; background-size:30px 26px;  }
.carticon em { display:block; position:absolute; min-width:18px; height:18px; background:#1140d6; border-radius:10px; top:-4px; right:-5px; color:#fff; font-size:10px; text-align:center; line-height:19px; }

/*main*/
section { width:100%; overflow:hidden; }
.commonwrap { width:100%; padding-bottom:80px; overflow:hidden; }

/*plan*/
.planbox { position:relative; height:auto; margin-bottom:15px; }
.planbox .slide-tit { position:absolute; bottom:0; left:50%; margin-left:-40%; width:80%; height:45px; background:#fff; }
.planbox .slide-tit p { padding:15px; font-size:1.1em; }
.plan-top-tab { font-size:0;margin:25px 20px 15px 20px; }
.plan-top-tab a { display:inline-block; width:50%; line-height:40px; text-align:center; font-size:15px; border:#bbb solid 1px; color:#666; }
.plan-top-tab a:active, .plan-top-tab a.selected { background:#2736af;  border:#2736af solid 1px; color:#fff;}
.plan-alltime { position:relative; margin-bottom:30px; } 
.plan-alltime ul { padding:0 0 20px 4%; }
.plan-alltime ul li { width:70%; }
.plan-alltime ul li img { width:100%; border-radius:5px; }

/*제품리스트*/
.pdtab { border-bottom:#ddd solid 1px; }
.pdtab ul { white-space:nowrap; overflow-x:auto; padding-left:10px; }
.pdtab ul li { display:inline-block; padding:0 8px; }
.pdtab ul li a { display:block; position:relative; padding:13px 0; color:#333; font-size:14.5px; }
.pdtab ul li.selected a { color:#1b3bb5; font-weight:bold; }
.pdtab ul li.selected a:after { position:absolute; left:0; bottom:0; width:100%; height:2px; background:#1b3bb5; content:""; }
.brdpdtab { }
.brdpdtab ul { }
.brdpdtab ul li { padding:0 10px;}
.brdpdtab ul li a { padding:15px 0 13px 0; }
.pdlist { padding:10px 0 20px 15px;}
.pdlist ul { display:flex; }
.pdlist ul li { flex-shrink:0; margin-right:10px; width:38%; background:#fff; }


/*product_common*/
.pdlist-thumb { position:relative; }
.pdlist-thumb img { width:100%;}
.pdlist-txt { position:relative; padding:10px 5px 15px 5px; overflow:hidden; }
.pdlist-txt .qcart { position:absolute; bottom:20px; right:6px; border:0; background:none; }
.pdlist-txt .qcart img {}
.tag { display:block; height:21px; font-family:'GmarketSansBold'; letter-spacing:0; }
.tag em { display:inline-block; font-size:10px; margin-right:3px; } 
.tag-new { color:#00ce5c; }
.tag-op { color:#009cff; }
.tag-best { color:#ff3061; }
.pdtit { font-size:13.5px; padding-bottom:3px; }
.pdtit .brd { font-size:12px; display:block; color:#888; margin-bottom:3px; }
/*display:inline-block; margin-right:2px;*/
.pdprice { padding-top:8px; position:relative; }
.pdprice .pdprice-dc .basic { font-size:9px; display:block; letter-spacing:-0.08em; }
.pdprice .pdprice-dc { font-size:19px; color:#ff0000; position:absolute; top:9px; left:0; }
.pdprice .pdprice-dc .small { font-size:13px; }
.pdprice .pdprice-pr { padding-left:40px; }
.pdprice .pdprice-pr span { display:block; }
.pdprice .pdprice-pr .pdprice-pr01 { color:#aaa; text-decoration:line-through; font-size:11.5px; }
.pdprice .pdprice-pr .pdprice-pr02 span { display:block; }
.pdprice .pdprice-pr .pdprice-pr02 strong { font-size:16px; }

.pdlist-toptab { width:100%; overflow:hidden; padding:0 10px 0 15px; border:#eee solid 1px; border-width:1px 0 1px 0; background:#fff; }
.pdlist-toptab > div { float:left; }
.pdlist-toptab .pdlist-toptab01 { width:60%; }
.pdlist-toptab .pdlist-toptab02 { width:40%; padding:0 13px; border-left:#e9e9e9 solid 1px; }
.pdlist-toptab .pdlist-toptab02 {}
.pdlist-toptab .pdlist-toptab01, .pdlist-toptab .pdlist-toptab02 { color:#666; line-height:24px; margin:11px 0; }
.pdlist-toptab .pdlist-toptab01 span { color:#ff661b; font-size:14px; }
.pdlist-toptab .pdlist-toptab02 select { background:url(../img/common/downicon.svg) no-repeat right 5px; width:100%; padding:0; }
.pdlist-toptab .pdlist-toptab03 { width:10%; text-align:center;  line-height:46px; }
.pdconlist { padding:15px 20px; overflow:hidden; border-bottom:#eee solid 1px; background:#fff; }
.pdconlist ul { width:100%; display:flex; display: -webkit-flex; display:-ms-flexbox; flex-wrap:wrap; }
.pdconlist ul li { display:block; float:left; width:49%; background:#fff; margin-right:0; padding-bottom:10px;}
.pdconlist ul li:nth-child(2n) { margin-left:2%; }

.pdlist-cart { padding-top:12px; }
.pdlist-cart span { display:inline-block;}
.pdlist-cart span > button { display:inline-block; position:relative; width:26px; height:26px; border-radius:1px; background:#fafafa; border:#ddd solid 1px; margin-left:2px; }
.pdlist-cart span > button:before { content:''; position:absolute; width:8px; height:8px; top:6px; left:8px; border:#aaa solid 1px; border-width:1px 1px 0 0; }
.pdlist-cart span > button.down:before { transform: rotate(135deg); -webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg); }
.pdlist-cart span > button.up:before { border-width:1px 0 0 1px; top:10px; transform: rotate(45deg); -webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg); }
.pdlist-cart span .optnum { display:inline-block; vertical-align:top; width:35px; height:26px; line-height:26px; text-align:center; border:#ddd solid 1px; border-radius:1px; }
.pdlist-cart .pdlist-cart-btn { padding:0 10px; height:26px; background:#2233ae; color:#fff; border-radius:1px; font-size:11px; font-family: 'dotum', Sans-serif; }
.pdlistwrap { width:100%; background:#fff; margin-top:10px; }

/*page_common*/
.bg-container { background:#f5f6fa; overflow:hidden; min-height:100vh; }


/*카테고리_탭*/
.cattop-tab { width:100%; overflow:hidden; font-size:0; }
.cattop-tab span { display:inline-block; width:50%; position:relative; padding:13px 0; border-bottom:#eee solid 1px; font-size:15px; color:#555; text-align:center; background:#fafafa; }
.cattop-tab span.selected02 { border-bottom:#1b40ca solid 1px; color:#303d91; font-family: 'NtdM', Sans-serif; font-weight:normal; } 
.tabline:after { position:absolute; width:1px; height:14px; background:#e0e0e0; top:15px; right:0; content:""; }
.cattop-tab span.selected { background:#2736af; color:#fff;font-family: 'NtdM', Sans-serif; font-weight:normal; } 

/*구매*/
.cartwrap { background:#f5f6fa; overflow:hidden; }
.cartwrap .cart-ntc { margin:10px 0 0 0; }
.cart-ntc, .cartlist .top-del { background:#fff; padding:15px 20px; margin-bottom:10px; overflow:hidden; }
.cart-ntc ul li { position:relative; color:#555; margin-top:8px; padding-left:10px; }
.cart-ntc ul li:before {position:absolute; width:2px; height:2px; top:7px; left:3px; background:#bbb; content:"";}
.cart-ntc ul li:first-child { margin-top:0; color:#223d92; }
.cart-ntc ul li p { font-size:12px; padding-top:3px; color:#777; line-height:1.5; }
.cartlist {}
.cartlist .top-del {}
.cartlist .top-del .selectckd { float:left; margin-top:3px;}
.cartlist .top-del .selec-del { display:block; float:right;}
.cartlist .top-del .selec-del button { padding:0 10px 0 23px; letter-spacing:-0.05em; line-height:26px; color:#555; border:#ddd solid 1px; border-radius:2px; background:url(../img/delicon.svg) no-repeat 9px center; background-size:10px 10px; } 

.cartlist-pdbox { width:100%; background:#fff; overflow:hidden; margin-bottom:10px; }
.cartlist .cartlist-box-brd { padding:20px 20px 13px 20px; border-bottom:#ddd solid 1px; }
.cartlist .last { border-bottom:0 !important; }
.cartlist .cartlist-box-brd label { font-size:18px !important; color:#111; }
.cartlist .cartlist-box { padding:20px; border-bottom:#eee solid 1px; }
.cartlist .cartlist-box .cartlist-box-pd { position:relative; padding:10px 0 10px px; }
.cartlist .cartlist-box .cartlist-box-pd .item-ckd { display:inline-block; position:absolute; top:15px; left:0; }
.item-ckd input[type="checkbox"] { position:absolute; }
.item-ckd label { text-indent:-9999px; }
.cartlist .cartlist-box .cartlist-box-item { position:relative; padding-left:90px; min-height:85px; }
.cartlist .cartlist-box .cartlist-box-item .cartlist-thumb { display:block;position:absolute; top:0; left:0; width:80px; height:80px; }
.cartlist .cartlist-box .cartlist-box-item .cartlist-thumb img { width:100%; }
.cartlist .cartlist-box .cartlist-box-item .item-tit h5 { font-size:14.5px; padding-right:10px; }
.cartlist .cartlist-box .cartlist-box-item .item-tit h5 .item-brd { display:block; font-size:11px; color:#999; padding-bottom:2px; }
.cartlist .cartlist-box .cartlist-box-item .item-tit p { display:block; padding-top:5px; color:#666; }
.cartlist .cartlist-box .cartlist-box-item .item-tit p span { display:block; font-size:12px; padding-top:2px; }
.cartlist .cartlist-box .cartlist-box-item .item-tit p em { margin-right:4px; color:#444; }
.pd-opt-wrap { position:relative; padding-left:28px; }
.pd-opt-wrap .item-ckd { position:absolute; top:5px; left:0; }
.cartlist .cartlist-box .pd-opt-wrap .cartlist-box-opt { width:100%; padding:8px 10px; overflow:hidden; background:#f2f5f8; margin:10px 0; font-size:12px; }
.cartlist .cartlist-box .pd-opt-wrap .cartlist-box-amount { width:100%; overflow:hidden; position:relative; }
.cartlist-box-amount .optbox-cart-opt { border-top:0; padding:0; float:left; }
.cartlist-box-amount .optbox-cart-price { display:block; float:right; font-size:15px; padding:3px 20px 0 0; }
.cartlist-box-amount .optbox-cart-price em { font-size:16px; }
.optbox-cart-price .bf-price { font-size:12px !important; text-decoration:line-through; margin-right:4px; }
.opt-delete { display:block; position:absolute; top:3px; right:4px; }
.opt-delete img { height:10px; }
.cart-total { padding:25px 20px; overflow:hidden; background:#fff; }
.buybox-bot dl { width:100%; display:table; }
.buybox-bot dl:first-child dt, .buybox-bot dl:first-child dd { padding-top:0;}
.buybox-bot dl dt, .buybox-bot dl dd { display:table-cell; padding-top:12px; font-size:14px; }
.buybox-bot dl dd { text-align:right; }
.buybox-bot dl dd em { padding:0 2px; font-size:15px;}
.buybox-bot dl.total { border-top:#aaa solid 1px; margin-top:12px; }
.buybox-bot dl.total dt, .buybox-bot dl.total dd { padding-top:15px; }
.buybox-bot dl.total dt { font-size:16px; }
.buybox-bot dl.total dd em { font-size:22px; }

.cart-total .buybox-bot-btn { padding-top:15px; }
.buybox-bot-txt { padding:18px; overflow:hidden; }
.buybox-bot-txt > div { font-size:12.5px; padding-right:10px; }
.buybox-bot-txt > div p { line-height:1.5; color:#333; padding-left:16px; background:url(../img/ifm.png) no-repeat left 1px; background-size:13px 13px; }
.buybox-bot-txt > div p span { display:block; padding-top:3px; color:#777;font-size:12px; }

/*상품상세*/
.pdinfo-top { padding:15px 20px; position:relative; }
.pdinfo-top .brd-go { display:inline-block; color:#888; padding:7px 12px 7px 0; background:url(../img/common/more.png) no-repeat right 10px; background-size:8px 8px; }
/*.pdinfo-top .brd-go { display:inline-block; color:#888; border:#ccc solid 1px; line-height:24px; border-radius:14px; padding:0 8px; margin:7px 0 10px -3px; }*/
.pdinfo-top h3 { font-size:20px; padding-right:10px; overflow:hidden; }
.pdinfo-top .tag { display:inline-block; margin-left:5px; vertical-align:top; }
.pdinfo-slide ul li img { width:100%; }
.pdinfo-price .top-price { padding:15px 5px 10px 5px; margin:0 15px; border-bottom:#000 solid 1px; }
.pdinfo-price .top-price-dc { font-size:20px; float:left; }
.pdinfo-price .top-price-total { float:right; }
.pdinfo-price .top-price-total .bfprice { color:#999; text-decoration:line-through; margin-right:5px; }
.pdinfo-price .top-price-total .afprice em { font-size:24px; }
.pdinfo-price .dc-price ul { padding:10px 20px; }
.pdinfo-price .dc-price ul li { padding:7px 0; display:table; width:100%; overflow:hidden; font-size:14px;  }
.pdinfo-price .dc-price ul li p { display:table-cell; }
.pdinfo-price .dc-price ul li .dc-price02 { text-align:right; }
.pdinfo-price .dc-price ul li .dc-price02 span { margin-left:5px;}
.pdinfo-price .dc-price ul li .dc-price02 > em { font-style:italic;}
.pdinfo-price .dc-price ul li .dc-price02 span > em { font-size:16px; }
.smartbnr { padding:12px 13px; overflow:hidden; border:#f5f5f5 solid 10px; }
.smartbnr span { font-size:14px; line-height:36px; }
.smartbnr span .info-icon { width:18px; display:inline-block; margin:7px 0 0 4px; vertical-align:top; }
.smartbnr button { display:block; float:right; padding:7px 14px; color:#eee; background:#28369c; border-radius:16px; }
.pdinfo-detail { border:#f5f6fa solid 10px; border-width:10px 0; padding:0 20px 10px 20px; overflow:hidden; }
.pdinfo-detail h5 { font-size:16px; padding:20px 0 15px 0; }
.pdinfo-detail dl { display:table; width:100%; }
.pdinfo-detail dl dt, .pdinfo-detail dl dd { display:table-cell; padding-bottom:10px; font-size:14px; }
.pdinfo-detail dl dt { width:80px; color:#777; }
.pdinfo-detail dl dd { letter-spacing:-0.01em;}

.pdinfobox-tab { position:relative; }
.infotabfix { position:fixed; display:block; top:0; left:0; background: #fff; z-index:9999; }
.pdinfobox {}
.pdinfobox .pdinfobox-tab { width:100%; overflow:hidden; }
.pdinfobox .pdinfobox-tab ul li { width:50%; float:left; padding:17px 0; text-align:center; border-bottom:#ddd solid 1px; }
.pdinfobox .pdinfobox-tab ul li.on { padding:17px 0 16px 0; border-bottom:#333 solid 2px; }
.pdinfobox .pdinfobox-tab ul li.on a { color:#000; }
.pdinfobox .pdinfobox-tab ul li:nth-child(1) a { border-right:#eee solid 1px; }
.pdinfobox .pdinfobox-tab ul li a { display:block; font-size:15px; color:#888; }

.pdinfobox-tab { position:relative; }
.infotabfix { position:fixed; display:block; top:0; left:0; background:#fff; z-index:9999; }
.contents-box { position:relative; border-bottom:#eee solid 1px; }
.contents-box-f { border-top:#aaa solid 1px; }
.contents-box .contents-open { padding:15px; font-size:15px; }
.contents-box .contents-con { padding:15px; display:none; }
.contents-con-tit, .contents-con-txt { display:table-cell; }
.contents-con dl { display:table; margin-bottom:8px; }
.contents-con dl dt, .contents-con dl dd { display:table-cell; vertical-align:middle; font-size:12px; }
.contents-con dl dt { width:100px; color:#333; padding-right:5px; }
.contents-con dl dd { color:#666; }
.contents-con > div { display:table; margin-top:13px; }
.contents-con > div.first { margin-top:0; }
.contents-con .contents-con-tit { width:70px; }
.contents-con .contents-con-txt ul li { position:relative; padding-left:6px; margin-top:8px; color:#666; font-size:12px; line-height:1.5; }
.contents-con .contents-con-txt ul li:before { position:absolute; width:2px; height:2px; background:#999; content:""; top:7px; left:0; }
.contents-con .contents-con-txt ul li:first-child { margin-top:0; }

/*상품상세풋터*/
.pd-buy-box { position:fixed; width:100%; left:0; bottom:0; z-index:10; }
.pd-buy-box .pd-buy-boxwrap { width:100%; position:relative; background:#f5f6fa; border-top:#ddd solid 1px; padding:15px 20px; }
.pd-buy-box .pd-buy-boxwrap .hitbtn { display:block; position:absolute; top:-19px; left:50%; margin-left:-35px; width:70px; height:20px; background:url(../img/opt_up.png) no-repeat 0 0; background-size:70px auto; font-size:0; }
.pd-buy-box .pd-buy-boxwrap .pd-buy-select { max-height:200px; white-space:nowrap; overflow-y:scroll;}
.pd-buy-box .pd-buy-boxwrap .optbox { width:100%; position:relative; background:#fff; border:#e0e0e0 solid 1px; border-radius:2px; }
.pd-buy-box .pd-buy-boxwrap .optbox:after {content:''; position:absolute; width:8px; height:8px; top:10px; right:12px; border:#aaa solid 1px; border-width:1px 1px 0 0; transform: rotate(135deg); -webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg); }
.pd-buy-box .pd-buy-boxwrap .optbox.on:after { top:14px; transform: rotate(45deg); -webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg); }
.pd-buy-box .pd-buy-boxwrap .optbox .optbox-selec { display:block; padding:10px; font-size:14px; }
.pd-buy-box .pd-buy-boxwrap .optbox .optboxlist { border-top:#d0d0d0 solid 1px; }
.pd-buy-box .pd-buy-boxwrap .optbox .optboxlist ul li { padding:10px; border-top:#eee solid 1px; }
.pd-buy-box .pd-buy-boxwrap .optbox .optboxlist ul li:nth-child(1) { border-top:0; }
.pd-buy-box .pd-buy-boxwrap .optbox .optboxlist ul li .opt-check { display:block; position:relative; }
.pd-buy-box .pd-buy-boxwrap .optbox .optboxlist ul li .opt-check input[type="checkbox"] { position:absolute; width:17px; height:17px; opacity:0; margin-left:-3px;}
.pd-buy-box .pd-buy-boxwrap .optbox .optboxlist ul li .opt-check label { display:inline-block; height:18px; line-height:18px; vertical-align:middle; padding-left:22px; background:url(../img/opt_off.png) no-repeat; color:#555;  background-size:17px 17px; letter-spacing:-0.07em; }
.opt-check input[type="checkbox"]:checked + label { background:url(../img/opt_on.png) no-repeat; background-size:17px 17px; }

.pd-buy-box .pd-buy-boxwrap .optbox-cart { width:100%; margin-top:5px; }
.pd-buy-box .pd-buy-boxwrap .optbox-cart > div { background:#fff; border:#e0e0e0 solid 1px; overflow:hidden; margin-bottom:5px; }
.pd-buy-box .pd-buy-boxwrap .optbox-cart > div > .optbox-cart-tit { padding:10px; }
.optbox-cart-opt { padding:10px; border-top:#ddd solid 1px; }
.optbox-cart-opt button { display:inline-block; position:relative; width:27px; height:27px; border-radius:1px; border:#ddd solid 1px; margin-left:2px; }
.optbox-cart-opt button:before { content:''; position:absolute; width:8px; height:8px; top:7px; left:9px; border:#aaa solid 1px; border-width:1px 1px 0 0; }
.optbox-cart-opt button.down:before { transform: rotate(135deg); -webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg); }
.optbox-cart-opt button.up:before { border-width:1px 0 0 1px; top:11px; transform: rotate(45deg); -webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg); }
.optbox-cart-opt .optnum { display:inline-block; vertical-align:top; width:40px; height:27px; line-height:27px; text-align:center; border:#ddd solid 1px; border-radius:1px; }
.optbox-cart-opt em { padding-left:4px; color:#ff0000; font-size:14px; font-style:italic; }
.optbox-cart-opt .selectckd label { padding-left:24px; }
.opt-dc-price { float:right; font-size:16px; margin-top:5px; }
.pd-buy-box .pd-buy-boxwrap .optbox-total-price { position:relative; padding:15px 7px; overflow:hidden; }
.pd-buy-box .pd-buy-boxwrap .optbox-total-price span { display:inline-block; }
.pd-buy-box .pd-buy-boxwrap .optbox-total-price .vat { position:absolute; top:20px; left:0; font-size:12px; color:#555; }
.pd-buy-box .pd-buy-boxwrap .optbox-total-price .total { float:right; font-size:16px; }
.pd-buy-box .pd-buy-boxwrap .optbox-total-price .total em { font-size:20px; color:#ff0000; padding:0 0 0 4px;}

.optbox-btn { width:100%; overflow:hidden; }
.optbox-btn button { padding:12px 0; text-align:center; border-radius:2px; font-size:16px; }
.optbox-btn .btn-wish { width:12%; background:#999; border:#999 solid 1px; color:#fff; }
.btn-cart { width:43.5%; margin:0 0.5%; background:#fff; border:#ccc solid 1px;  }
.btn-buy { width:43.5%; background:#1d34aa; border:#1d34aa solid 1px; color:#fff;  }
.btn-dome { width:100%; background:#aaa; color:#fff; }
.btn-soldout { width:49.8%; background: #ccc; border: #ccc solid 1px; color: #fff; }
.btn-smart { width:49.8%; margin-left:0.4%; }

/*cart02*/
.orderboxwrap { margin-top:10px; background:#fff; overflow:hidden; }
.orderboxwrap h3 { position:relative; font-size:17px; padding:15px 20px; color:#000;font-family: 'NtdM', Sans-serif; }
.orderboxwrap h3:after { display:block; content:''; position:absolute; width:8px; height:8px; top:24px; right:30px; border:#aaa solid 1px; border-width:1px 0 0 1px; top:24px; transform: rotate(45deg); 
  -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); }
.orderpdbox { border-top:#ddd solid 1px;}
.orderboxwrap h3:active { background:#f0f0f0; }
.orderboxwrap h3.active:after { top:20px; border-width:1px 1px 0 0; transform: rotate(135deg); -webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg); }
.orderboxwrap h3 .order-amount { display:block; float:right; padding-right:28px; font-size:16px; font-family: 'NtR', Sans-serif; }
.orderboxwrap h3 .order-amount em { color:#1d34aa; font-size:18px; }
.orderpdbox .cartlist ul li { border-top:#ddd solid 1px; }
.orderpdbox .cartlist ul li:first-child { border-top:0; }
.orderpdbox .cartlist ul li .cartlist-box { padding:0 20px; overflow:hidden; border-bottom:#f5f5f5 solid 1px; }
.orderpdbox .cartlist ul li .cartlist-box .cartlist-box-pd { padding:15px 0;overflow:hidden; }
.orderpdbox .cartlist ul li .cartlist-box-brd .deli-plus { display:block; padding:4px 6px; font-size:11px; float:right;  line-height:1; border-radius:14px; border:#28369c solid 1px; color:#1d34aa; }
.adr-select { padding:18px; }
.adr-select span { display:inline-block; margin-right:10px; }
.adr-select span label { font-size:15px; }
.orderpdbox-adrbox ul { padding:0 20px; }
.orderpdbox-adrbox ul li { display:table; width:100%; margin-bottom:10px; }
.orderpdbox-adrbox .order-form-new li.order-form-pg { padding:5px 0; }
.orderpdbox-adrbox ul li > span, .orderpdbox-adrbox ul li > div { display: table-cell; vertical-align:middle; }
.orderpdbox-adrbox ul li .order-form-tit { width:90px; font-size:14px; font-family: 'NtdM', Sans-serif; color:#777; }
.order-form-new li .order-form-ipt .ipt, .order-form-new li .order-form-ipt textarea { width:100%; padding:0 8px; height:42px; border:#eee solid 1px; background:#fff; border-radius:3px; }
.order-form-new li .order-form-ipt span { display:block; }
.order-form-new li .order-form-ipt .ipt-adr { width:70%; }
.order-form-new li .order-form-ipt .ipt-id-ckd { width:29%; margin-left:1%;height:42px; text-align:center; background:#666; color:#fff; border-radius:3px; font-size:14px; }
.order-form-new li .order-form-ipt .radio-select { font-size:13px;display:inline-block; margin-right:10px; }
.adr-select01 { margin-right:7px !important; }
.adr-select01 em { display:inline-block; padding:0 10px; line-height:28px; border:#ddd solid 1px; border-radius:15px; font-size:14px; color:#888; }
.selected em { border:#28369c solid 1px; color:#1d34aa; }
.orderpdbox-adrbox { position:relative; }
.orderpdbox-adrbox .order-form-pp { padding:15px 22px; }
.orderpdbox-adrbox .order-form-pp h5 { font-size:16px; padding-bottom:5px; }
.orderpdbox-adrbox .order-form-pp p { color:#666; line-height:1.6; }
.orderpdbox-adrbox .order-form-pp p.number { font-size:15px; padding-top:5px;  }
.orderpdbox-adrbox .order-form-pp p.number span { display:inline-block; padding-right:8px; color:#80839e; }
.order-modf-btn { position:absolute; display:block; top:15px; right:20px; border:#ddd solid 1px; height:24px; padding:0 5px; font-size:12px; color:#888; border-radius:2px; }
.form-ipt-txt { font-size:15px; }
.disc-form li .order-form-ipt .ipt, .disc-form li .order-form-ipt .ipt-id-ckd { height:38px; }
.disc-form li .order-form-ipt .ipt { text-align:right; }
.disc-form li .order-form-ipt .ipt:valid { color:#777; }
.disc-form li .order-form-tit { width:120px !important; font-family: 'NtdM', Sans-serif; color:#666; }
.disc-tit { font-size:17px; padding:20px; }
.disc-resi { text-align:right; font-size:16px;  color:#3e54c7;}
.disc-ntc { padding-top:7px; font-size:12px; color:#888; text-align:right; }
.toprrg { vertical-align:top !important; padding-top:15px; }
.deposit-ntc { padding-top:3px; }
.deposit-ntc em { display:block; position:relative; color:#888; padding:4px 0 0 7px; font-size:12px; }
.deposit-ntc em:before {position:absolute; width:2px; height:2px; top:10px; left:0; background:#bbb; content:""; }
.orderbox-last-btn { padding:15px 20px; }
.buybox-bot-txt ul { padding-left:17px; margin-bottom:10px; }
.buybox-bot-txt ul li { position:relative; color:#808080; margin-top:4px; padding-left:5px; font-size:12px; line-height:1.5; }
.buybox-bot-txt ul li:before { position:absolute; width:2px; height:2px; background:#999; top:5px; left:0; content:"";}
.orderpdbox-pdgwrap { padding-left:90px; }
.orderpdbox-pdgwrap .cartlist-box-opt { margin-top:5px; background:#f2f5f8; padding:8px; font-size:12px; }
.orderpdbox-pdgwrap .cartlist-box-amount { overflow:hidden; }
.orderpdbox-pdgwrap .cartlist-box-amount .optbox-cart-price { display:block; float:left; font-size:15px; padding:8px 0 0 3px; color:#1188ee; }
.orderpdbox-pdgwrap .cartlist-box-amount .optbox-cart-price em { font-size:17px; }
.bf-price { font-size:12px; margin-left:3px; color:#999; text-decoration:line-through; }
.cartlist-box-amount .optbox-cart-price .bf-price em { font-size:12px !important; }
.orderboxwrap h3 .order-amount02 { display:inline-block; float:right; padding-right:28px; padding-top:4px; font-size:14px; color:#777; }

/*order*/
.orderbuybox { background:#fff; overflow:hidden; margin-bottom:10px; }
.orderbuybox .orderbuy-ckdtxt { font-size:22px; padding:30px 20px; text-align:center; }
.orderbuybox .orderbuy-ckdtxt span { display:block; font-family: 'Ntdl', Sans-serif;  font-size:13px; padding-top:8px; color:#333; line-height:1.5; }
.orderbuybox > div { padding:15px 20px; }
.orderbuybox > div.line { border-top:#eee solid 1px;}
.orderbuybox dl { display:table; width:100%; padding:5px 0; }
.orderbuybox dl dt, .orderbuybox dl dd { display:table-cell; font-size:14px; }
.orderbuybox dl dt { width:100px; vertical-align:top; color:#777; }
.orderbuybox dl dd span { display:block; padding-bottom:5px; }
.orderbuybox dl dd .basic { font-size:15px; } 
.orderbuybox dl dd.total em { color:#1d34aa;font-size:17px; }
.orderbuybox button { display:inline-block; height:46px; border-radius:0; }
.orderbuybox .btn-cart { width:50%; margin:0; border:#eee solid 1px; }
.orderbuybox .common-next-btn { width:50%; }

.orderlistbox { background:#fff; padding:15px 20px; margin-top:10px; }
.orderlistbox-f { margin-top:0; }
.txt-sch {  }
.txt-sch input, .txt-sch select, .txt-sch button { height:38px; border-radius:2px; }
.txt-sch select { width:25%; background-position:right 10px center; border:#eee solid 1px; color:#666; }
.txt-sch input { width:58%; margin:0 0.5%; background:#fff; border:#eee solid 1px; padding:0 8px; }
.txt-sch button { width:16%; text-align:center; background:#666; border:#666 solid 1px; color:#fff; }
.orderlistbox .mp-cate { padding:0; border:0; }
.orderlistbox .mp-cate .mp-order-state { padding:10px 0; }
.date-sch-btn { margin-top:8px;}
.date-sch-btn a { display:inline-block; width:19.5%; margin-right:0.5%; border:#ddd solid 1px; background:#fafafa; text-align:center; padding:6px 0; color:#888; border-radius:3px; font-size:12px; }
.date-sch-btn a.selected, .date-sch-btn a:active { background:#fff; border:#223d92 solid 1px; color:#223d92;  } 
.state-txt { background:#fff; border-top:#eee solid 1px; padding:10px 0; }
.state-txt a { display:inline-block; width:50%; padding:3px 0; text-align:center; color:#555; }
.state-txt a.rt { border-right:#eee solid 1px; }
.state-txt a em { font-weight:bold; font-size:14px; margin-left:3px; color:#111; }
.orderlist { padding:0; position:relative; }
.orderlistbox .cartlist .cartlist-box { padding:0 20px; }
.orderlistbox .cartlist ul li { margin-bottom:0; }
.orderlistbox .cartlist ul li .cartlist-box .cartlist-box-pd { padding:13px 0; }
.order-date { padding:15px 20px 10px 20px; font-size:17px; font-weight:bold; }
.orderdetail-gobtn { position:absolute; padding-right:13px; display:block; top:15px; right:20px; font-size:12px; background:url(../img/common/more.png) no-repeat right center; background-size:9px 9px; }
.pay-price { font-size:14px; padding-top:8px !important;  }
.pay-price em {font-size:16px; margin-right:0 !important; color:#111 !important; }

.orderdetail-top { padding:15px 20px; background:#fff; margin-bottom:10px; }
.orderdetail-top p { font-size:14px; }
.orderdetail-top p .date { position:relative; display:inline-block; padding-right:9px; margin-right:7px; font-size:16px; font-weight:bold; }
.orderdetail-top p .date:after { position:absolute; width:1px; height:13px; top:4px; right:0; content:""; background:#d0d0d0; }
.orderdetail-state { padding:15px 20px; overflow:hidden; background:#fafafa; }
.detail-state-txt { font-size:16px; }
.tracking-btn { float:right; }
.detail-state-txt img { margin-right:4px; width:16px; vertical-align:top; margin-top:4px;}
.orderdetail-pay dl dt { color:#111; }
.orderdetail-pay dl dd { text-align:right; }
.orderdetail-pay .sub-price { padding:4px 0; }
.orderdetail-pay .sub-price dt, .orderdetail-pay .sub-price dd { font-size:13px; color:#888; }
.sub-price dd span em { margin-left:3px;}
.orderdetail-pay > p { padding-bottom:5px;}
.orderdetail-pay > p span { display:inline-block; padding:0 7px; margin-right:3px; line-height:20px; border-radius:15px; font-size:13px; border:#28369c solid 1px; color:#1d34aa; }
.orderdetail-pay dl.main-price { padding-top:6px;}
.orderdetail-pay dl.main-price dt, .orderdetail-pay dl.main-price dd { font-size:15px; }
.order-state-btn { width:100%; padding-top:8px; overflow:hidden }
.order-state-btn a { display:inline-block; width:49.3%; margin-right:0.7%; text-align:center; padding:6px 0; border:#e0e0e0 solid 1px; color:#888; border-radius:2px; }

/*login,join*/
#loginwrap, #joinwrap { width:100%; min-height:100vh; padding:0 30px; background:#f7f7f7; overflow:hidden; position:relative; }
.loginlogo { text-align:center; padding:70px 0 40px 0;  }
.loginlogo img { width:200px; }

.login-top { padding-bottom:20px;overflow:hidden;  }
.login-top .loginbox { width:100%; }
.login-top .loginbox span { display:block; margin-bottom:5px; }
.loginform { border:#eee solid 1px; padding:15px 8px; background:#fff; border-radius:3px;  }
.login-top .loginbox span input { border:0; width:100%; font-size:15px; color:#555; letter-spacing:-0.01em; }
.login-top .loginbox span .loginbtn { display:block; padding:12px; width:100%; background:#2d3990 !important; color:#fff; font-size:16px; text-align:center; border-radius:3px;  }
.login-top .lg-check { padding-top:10px;}
.login-top .lg-check span { display:inline-block; position:relative; margin-right:15px; }
.login-top .lg-check input[type="checkbox"] { position:absolute; width:20px; height:20px; opacity:0; margin-left:0; padding:0; }
.login-top .lg-check label { display:inline-block; height:22px; line-height:22px; vertical-align:middle; padding-left:26px; background:url(../img/opt_off.png) no-repeat; background-size:20px 20px; font-size:14px; color:#555; }
.login-top .lg-check input[type="checkbox"]:checked + label { background:url(../img/btn_check_on.png) no-repeat left top; background-size:20px 20px; }
.login-bot { padding:20px 0 40px 0;  border-top:#e0e0e0 solid 1px; text-align:center; }
.login-bot a { display:inline-block; position:relative; padding-right:15px; color:#777; font-size:14px; }
.login-bot a:active { color:#111;}
.login-bot a:after { position:absolute; display:block; top:1px; right:6px; width:1px; height:13px; background:#ddd; content:""; }
.login-bot a.last:after { display:none; }
.login-bot a:nth-child(3) { padding-right:0; }

#joinwrap .loginlogo { padding:50px 0 30px 0; }
.join01 ul li { position:relative; padding:18px 18px 18px 47px; background:#fff url(../img/c_check_off.svg) no-repeat left 15px top 20px; border:#eee solid 1px; border-radius:5px; overflow:hidden; margin-bottom:7px; }

.join01 ul li h5 { font-size:16px; padding-bottom:8px; }
.join01 ul li p span { display:block; font-size:12px; color:#555; padding-top:4px; }
.join01 ul > a:active li, .join01 ul > a:focus li { border:#313e9d solid 1px; background:#313e9d url(../img/c_check_on.svg) no-repeat left 15px top 20px;; color:#fff; }
.join01 ul > a:active li p span, .join01 ul > a:focus li p span { color:#fff; }
.join-txt { text-align:center; padding:10px 0; background:#313e9d; margin-bottom:8px; border-radius:5px; color:#fff; font-size:15px; }
/*.join-txt { text-align:center; padding:0 0 15px 5px; font-size:18px; }*/
.join-ntc { padding:10px 7px; }
.join-ntc p { color:#555; line-height:1.4; }
.join-ntc .join-ntc-txt span { display:block; padding-bottom:5px; font-size:14px; color:#313e9d; }
.join-ntc .join-ntc-tel { padding-top:5px; }
.join-ntc .join-ntc-tel span { margin-right:13px; }
.join-ntc .join-ntc-tel em { color:#888; }
.joinboxwrap { background:#fff; overflow:hidden; border-top:#f5f6fa solid 10px; }
.joinboxform, .joinbox-ckd, .joinbox-lic { padding:0 20px; }
.joinboxwrap h5 { font-size:18px; padding:20px 20px 15px 20px; overflow:hidden; position:relative; }
.joinboxwrap h5 em { top:21px; left:86px; }
.joinboxwrap .joinboxform li { padding-bottom:8px; }
/*.joinboxwrap .joinboxform li.space { padding-top:12px; border-top:#bbb solid 1px; margin-top:4px; }*/
.joinboxwrap .joinboxform li span { display:block; font-size:0; }
.joinboxwrap .joinboxform input, .joinboxwrap .joinboxform select { border:none; width:100%; padding:0 10px; height:46px; background:#fff; border:#eee solid 1px; border-radius:3px; font-size:15px; letter-spacing:0; }
.joinboxwrap .joinboxform li span .ipt-id { width:70%; }
.joinboxwrap .joinboxform li span .ipt-id-ckd { width:29%; margin-left:1%; text-align:center; height:46px; background:#666; color:#fff; border-radius:3px; font-size:14px; }
.joinboxwrap .joinboxform li span .sel-tel { position:relative; width:29%; margin-right:1%; background:#fff url(../img/common/downicon.svg) no-repeat right 10px center; color:#666; border:#eee solid 1px; }
.joinboxwrap .joinboxform li span .ipt-em { width:49%; }
.joinboxwrap .joinboxform li span .emgol { display:inline-block; width:6%; text-align:center; font-size:13px !important; }
.joinboxwrap .joinboxform li span .sel-tel-em { margin:0 0 0 1%; width:44% }
.joinboxwrap .joinboxform li.adr span { padding-bottom:5px;}
.joinboxwrap .joinboxform li span input::placeholder { color:#a0a0a0; letter-spacing:-0.01em; }
.joinbox-ckd {}
.joinbox-ckd-box { overflow:hidden; margin-bottom:8px; }
.joinbox-ckd-box p { padding:14px 10px 0 10px; }
.joinbox-ckd-box p a { display:block; position:absolute; top:0; right:0; font-size:12px; width:36px; line-height:1.6; text-align:center; color:#999; text-decoration:underline; }
.joinbox-ckd-box .ad-all-ckd { padding:14px 10px;  border-radius:3px; background:#f3f3f3; }
.joinbox-ckd-box .ad-all-ckd label { font-size:15px !important; color:#333; }
.joinbox-ckd-box .ad-all-ckd .selectckd { padding-bottom:0; }
.joinbox-ckd-box .selectckd { display:block; position:relative; padding-bottom:14px; }
.joinbox-ckd-box .selectckd label { padding-left:20px; font-size:13px; height:16px; line-height:18px; background-size:16px 16px; }
.joinbox-ckd-box .selectckd input[type="checkbox"]:checked + label { background-size:16px 16px; }
.joinbox-ckd-box .selectckd input[type="checkbox"] { width:16px; height:16px; }
.joinbox-ckd-box .selectcol { display:inline-block; padding:14px 0 14px 12px; }
.joinbox-ckd .joinbox-ckd-txt { position:relative; line-height:1.5; color:#888; padding:0 5px 25px 10px; }
.joinbox-ckd .joinbox-ckd-txt:before { position:absolute; width:2px; height:2px; top:7px; left:3px; background:#bbb; content:""; }
.joinbox-lic > p { padding:5px 0 10px 0; color:#666;}
.joinbox-lic .joinbox-lic-type { padding-bottom:25px; }
.joinbox-lic .joinbox-lic-type ul { display:flex; } 
.joinbox-lic .joinbox-lic-type ul li { flex:1;-webkit-box-flex:1; -ms-flex:1; width:20%; margin-left:-1px; }
.joinbox-lic-type ul li:active a, .joinbox-lic-type ul li.selected a { border:#223d92 solid 1px; position:relative; z-index:1; color:#223d92; }
.joinbox-lic-type ul li a { display:block; width:100%; text-align:center; font-size:12px; line-height:32px; color:#888; border:#e0e0e0 solid 1px;  }
.join-end-btn { overflow:hidden; }
.join-end-btn a { display:block; width:100%; height:52px !important; line-height:52px !important; font-size:17px; }

/*board, write*/
.contents-sch { width:100%; overflow:hidden; }
.contents-sch .t-sch { padding:15px 20px; }
.contents-sch .t-sch span { display:block;}
.boardlist { border-top:#f5f6fa solid 10px; }
.boardlist ul li { overflow:hidden; border-bottom:#eee solid 1px; }
.boardlist ul li > a { display: block; padding:16px 20px; }
.boardlist ul li > a:active { background:#f9f9f9; }
.boardlist ul li .boardlist-tit { font-size:15px; padding-bottom:3px; }
.boardlist ul li p span { display:inline-block; color:#999; font-size:12px; margin-right:3px; }
.boardlist ul li p .date { letter-spacing:0; position:relative; padding-left:7px; margin-left:4px; }
.boardlist ul li p .date:before { display:block; position:absolute; width:1px; height:9px; top:3px; left:0; background:#e0e0e0; content:""; }
.reqwrap .reqform li .reqform-ipt { font-size:14px; }
.reqwrap .reqform li .reqform-ipt textarea { width:100%; height:120px; border:#eee solid 1px; border-radius:3px; }
.reqwrap .reqform li .reqform-ipt .sort { width:100%; }
.reqwrap .reqform li { position:relative; }
.reqwrap .reqform li .reqform-tit { position:absolute; width:70px; top:13px; left:0; font-size:14px !important; font-family: 'NtdM', Sans-serif; }
.reqwrap .reqform li .reqform-ipt, .req-team { padding-left:70px; }
.reqwrap .reqform li .filebox { font-size:0; }
.reqwrap .reqform li .filebox span { display:inline-block; width:32%; margin-right:1%; }
.reqwrap .reqform li .filebox span label { text-indent:-9999; display:inline-block; width:100%; height:70px; border:#eee solid 1px; border-radius:3px; background:url(../img/clip.svg) no-repeat center center; background-size:25px 25px; }
.filebox span input[type="file"] { position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0, 0, 0, 0); border:0; }
.reqwrap .reqform li .filebox p { font-size:12px; padding-top:8px; color:#888; letter-spacing:-0.03em; }
.reqwrap .reqform li span .req-team-info { display:block; margin-top:5px; padding-right:15px; line-height:32px; width:100%; font-size:12px; text-align:right; color:#777; }
.req-team { display:none; padding-top:7px; font-size:12px; color:#555; }
.reqform-agree { position:relative; padding:10px; border:#e5e5e5 solid 1px; border-radius:3px; }
.reqform-agree label { padding-left:26px; line-height:20px; font-size:13px !important;}
.reqform-agree em { display:block; position:absolute; top:8px; right:10px; font-size:11px; text-align:center; line-height:20px; color:#888; text-decoration:underline; }
.reqform-agree input[type="checkbox"]:checked + label { background:url(../img/btn_check_on.png) no-repeat; background-size:20px 20px;}
.linebox > div { width:100%; height:1px; background:#bbb; }
.couponbuywrap ul li.linebox { padding-bottom:0; }

/*mypage*/
.mp-top { overflow:hidden; background:#fff; margin-bottom:10px; }
.mp-top-info { width:100%; overflow:hidden; position:relative; padding:20px; background: -moz-linear-gradient(90deg, #2736af 0%, #2736af 50%, #3748d1 100%);
  FF3.6background: -webkit-linear-gradient(90deg, #2736af 0%, #2736af 50%,#3748d1 100%);
  background: linear-gradient(90deg, #2736af 0%, #2736af 50%,#3748d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2736af', endColorstr='#3748d1',GradientType=1 ); }
.mp-top-info h3 { font-size:16px; color:#fff; }
.mp-top-info .mp-modi-btn { display:block; position:absolute; top:18px; right:23px; line-height:22px; border:#e0e0e0 solid 1px; padding:0 10px; border-radius:12px; color:#fff; font-size:12px; }
.mp-top-cash dl { width:50%; float:left; padding:15px 20px;  }
.mp-top-cash dl dt, .mp-top-cash dl dd { width:100%; font-size:14px; }
.mp-top-cash dl dt { color:#333; }
.mp-top-cash dl dd { padding:10px 15px 0 0; font-size:17px; background:url(../img/common/more.png) no-repeat right 3px; background-size:9px 9px; }
.mp-top-cash .first { width:100%; float:none; overflow:hidden; font-size:15px; border-bottom:#eee solid 1px; }
.mp-top-cash .first dt { font-size:16px; }
.mp-top-cash .first dd { background:none; padding-right:0; text-align:right; }
.mp-top-cash .first dd em { color:#2537ad; font-size:22px; margin-right:2px; }
.mp-top-cash .first dd .total-b-price { font-size:13px; padding-top:3px; }
.mp-top-cash .first dd .total-b-price span { margin-left:2px; }
.mp-tit { position:relative; padding:0 20px; font-size:17px; font-family:'NtdM', Sans-serif; font-weight:normal; }
.mp-tit .orderdetail-gobtn { top:0; right:20px; }
.mp-cate { width:100%; overflow:hidden; padding-top:20px; background:#fff; }
.mp-cate .mp-order-state { overflow:hidden; padding:25px 20px; }
.mp-cate .mp-order-state ul { width:100%; }
.mp-cate .mp-order-state ul li { float:left; width:25%; text-align:center; }
.mp-cate .mp-order-state ul li span { display:block; }
.mp-cate .mp-order-state ul li .state-num { padding-bottom:5px; font-size:20px;position:relative; }
.mp-cate .mp-order-state ul li .state-on { color:#000; }
.mp-cate .mp-order-state ul li .state-off { color:#aaa; }
.mp-cate .mp-order-state ul li .state-num:after { position:absolute; display:block; width:12px; height:12px; top:13px; right:-5px; background:url(../img/common/more.png) no-repeat; background-size:12px 12px; content:""; }
.mp-order-state ul li .state-tit { font-size:12px; color:#666; }
.mp-cate .mp-order-state ul li.last .state-num:after { display:none; } 
.mp-menulist { background:#fff; overflow:hidden; margin-top:10px;}
.mp-menulist ul li { border-top:#eee solid 1px; }
.mp-menulist ul li a { position:relative; font-size:15px; display:block; padding:18px 20px 18px 50px; font-family: 'NtdM', Sans-serif; font-weight:normal; } 
.mp-menulist ul li a img { position:absolute; top:20px; left:20px; width:18px; }
.mp-menulist ul li:first-child { border-top:0 }


/*coupon, point*/
.buy-coupon { background:#f5f6fa; overflow:hidden; min-height:calc(100vh - 80px); }
.copon-tab span { background:#fff !important; }
.buy-coupon .cart-ntc { margin-top:0; }
.couponboxwrap { padding:25px 20px 15px 20px; }
.couponbox { display:table; width:100%; font-size:0; margin-bottom:15px; }
.couponbox > div { display:table-cell; vertical-align:middle; padding:25px 20px; box-shadow:0 0 3px #ddd; font-size:13px; }
.couponbox .couponbox-col01 { width:70%; margin-right:-1px; background:#fff; border-radius:5px 10px 10px 5px;  }
.couponbox .couponbox-col02 { width:30%; background:url(../img/cp_bg.svg) no-repeat; background-size:cover; color:#fff;text-align:center; border-radius:10px 5px 5px 10px;  }/*background:#f30000;*/
.couponbox .couponbox-col01 .couponbox-col-tag { font-size:12px; display:inline-block; }
.couponbox .couponbox-col01 .couponbox-col-tag em { margin-right:2px; color:#182ebe; }
.couponbox .couponbox-col01 h5 { font-size:30px; padding:4px 0 8px 0; }
.couponbox .couponbox-col01 > p {font-size:14px;}
.couponbox .couponbox-col01 > p em.rd { margin-right:2px; }
.couponbox .couponbox-col02 p {  }
.couponbox .couponbox-col02 img { display:block; margin:10px auto 0 auto; }
.coupon-buy-btn a { display:block; width:100%; line-height:52px; height:52px; border-radius:0; }

.couponbuywrap { padding:0; }
.couponbuywrap .joinboxform li.space { padding-top:0; }
.couponbuywrap .reqform li.space .reqform-tit { top:16px; }
.couponbuywrap .reqform li .reqform-tit { width:90px; }
.couponbuywrap .reqform input:valid { color:#666; }
.couponbuywrap .reqform li .reqform-ipt { padding-left:90px; }
.couponbuywrap .reqform li .reqform-ipt .radio-select { display:inline-block; margin-right:10px; }

.couponbuywrap ul li.radioform { padding:5px 0 15px 0; }
.couponbuywrap ul li.radioform .reqform-tit { top:15px;}
.couponbuywrap ul li.radioform .reqform-ipt { }
.couponbuywrap ul li.radioform .reqform-ipt input { height:auto !important;}
.radio-select { display:block; position:relative; margin-right:10px; }
.radio-select label { font-size:14px; line-height:18px; padding-left:20px; background-size:16px 16px !important; background:url(../img/c_check_off.svg) no-repeat left center; }
.radio-dis label { background:url(../img/c_check_on2.svg) no-repeat left center; background-size:16px 16px !important; }
.radio-select input[type="radio"]:checked + label { background:url(../img/c_check_on2.svg) no-repeat left center; background-size:16px 16px !important; }
.radio-select input[type="radio"] { padding:0; margin:0; width:1px; opacity:0;  }
.couponbuywrap .reqform li > div .radio-select { padding-top:10px; }
.couponbuywrap ul li.linebox { padding:8px 0; }
.txt-ipt { font-size:13.5px; padding:10px 0; line-height:1.5; color:#555; }
.txt-ipt span { display:block; font-size:12px !important; }
.txt-ipt em { margin-right:3px; }
.ipt-ntc-txt { width:100%; display:block; font-size:12px; padding-top:10px; color:#888; }
.couponbuywrap .cart-total { padding:0 20px 25px 20px; }
.couponbuywrap .buybox-bot-txt { background:#f5f6fa; }
.couponbuywrap .buybox-bot-txt p:nth-child(1) { padding-bottom:5px; }

.my-point { padding:18px 20px; margin-bottom:10px; }
.my-point p { display:table; width:100%; }
.my-point span { display:table-cell; vertical-align:middle; }
.my-point .my-point-tit { font-size:17px; }
.my-point .my-point-tit img { height:22px; margin-top:-4px; margin-right:5px; }
.my-point .my-point-num { text-align:right; font-size:16px; }
.my-point .my-point-num em { font-size:20px; }
.my-point, .point-list { background:#fff; overflow:hidden; }
.point-list .date-sch { font-size:0; border-bottom:#e0e0e0 solid 1px; padding:15px 0; }
.point-list .date-sch span { display:inline-block; width:50%; }
.point-list .date-sch span select { font-size:15px; width:100%; padding:8px 20px; background:#fff url(../img/common/downicon.svg) no-repeat right 15px center !important; outline:0; }
.point-list .date-sch .point-month { border-left:#eee solid 1px; }
.point-list ul li { padding:18px 20px; border-bottom:#eee solid 1px; } 
.point-list ul li .date { display:block; color:#999; font-size:12px; }
.point-list ul li > div { display:table; width:100%; padding-top:7px; }
.point-list ul li > div > span { display:table-cell; }
.point-list ul li > div .saving-tit { text-align:left; font-size:14px; }
.point-list ul li > div .saving-num { text-align:right; font-size:16px; }
.point-list ul li > div .pl { color:#1b3bb5; }
.point-list ul li > div .mi { color:#ff6600; }

/*faq*/
.faqlistTab { padding:15px; background:#f5f6fa; }
.faqlistTab ul { width:100%; overflow:hidden; border:#eee solid 1px;} 
.faqlistTab .faqlist02 { border-width:0 1px 1px 1px;}
.faqlistTab ul li { float:left; width:33.3%; border-right:#eee solid 1px; text-align:center; background:#fff; }
.faqlistTab ul li:nth-child(3) { border-right:0; }
.faqlistTab ul li a { display:block; width:100%; line-height:52px; color:#666; }
.faqlistTab ul li:active, .faqlistTab ul li.selected { background:#1d34aa; border-right:#1d34aa solid 1px; }
.faqlistTab ul li:active a, .faqlistTab ul li.selected a { color:#fff; font-family: 'NtdM', Sans-serif; } 
.faqlistBox ul li { border-bottom:#eee solid 1px; position:relative;  }
.faqlistBox ul li a { display:block; padding:20px; font-size:14px; }
.faqlistBox ul li span { display:block; position:relative; padding:0 30px;font-family: 'NtdM', Sans-serif; color:#333; }
.faqlistBox ul li span:after { display:block; content:''; position:absolute; width:8px; height:8px; top:0; right:12px; border:#aaa solid 1px; border-width:1px 1px 0 0; transform: rotate(135deg); -webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg); }
.faqlistBox ul li span em { position:absolute; top:0; left:0; color:#102dc3; font-size:14.5px; }

.faqlistBox ul li .open-box { display:none; padding:20px 20px 20px 30px; background:#f9f9f9; }
.faqlistBox ul li .open-box p { line-height:1.6; color:#555; }
.faqlistBox ul li a.active span { color:#102dc3; }
.faqlistBox ul li a.active span:after { border-width:1px 0 0 1px; top:4px; transform: rotate(45deg); 
-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg); }

/*footer*/
 #b-footer { width:100%; }
 .bf-cs { width:100%; overflow:hidden; padding:25px 20px; display:table; }
 .bf-cs .bf-tel { display:table-cell; width:118px; font-size:22px; color:#1b3bb5; letter-spacing:-0.03em; }
 .bf-cs .bf-tel-txt { display:table-cell; vertical-align:top;  color:#555; }
 .bf-cs .bf-tel-txt p { }
 .bf-cs .bf-tel-txt em { letter-spacing:-0.01em; display:inline-block; margin:0 3px 0 1px; font-weight:bold; }
 .bf-cs .bf-tel-txt span { display:block; padding-top:4px; }
 .bf-inner { width:100%; overflow:hidden; padding:12px 0; }
 .bf-inner li { float:left; margin-right:6px; font-size:14px; }
 .bf-inner li .c-dot { display:inline-block; margin-right:3px; vertical-align:middle; padding:3px 5px; font-size:9px; line-height:9px; font-weight:bold; border-radius:10px; background:#aaa; color:#fff; }
.bf-btn { margin-top:5px }
.bf-btn a { display:inline-block; padding:5px 10px; margin-right:2px; background:#fff; border:#ddd solid 1px; color:#999; }
.bf-ntc { border:#eee solid 1px; border:1px 0; padding:15px 20px; }
.bf-ntc h5 { float:left; font-size:14px; font-weight:bold; width:18%; }
.bf-ntc .bf-ntc-tit { padding-left:18%; }
.bf-ntc .bf-ntc-tit span { display:inline-block; width:100%; position:relative; }
.bf-ntc .bf-ntc-tit span:after {content:''; position:absolute; width:8px; height:8px; top:3px; right:5px; border:#aaa solid 1px; border-width:1px 0 0 1px; transform: rotate(135deg); -webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg); }
.bf-copy { overflow:hidden; }
.bf-copy .bf-copy-t { padding:20px 0 15px 20px; background:#f9f9f9; color:#888; font-size:12px; }
.bf-copy .bf-copy-t h5 { padding-bottom:8px; }
.bf-copy .bf-copy-t h5 img { height:15px; opacity:.9; margin-bottom:7px; }
.bf-copy .bf-copy-t ul li { padding-bottom:6px; }
.bf-copy .bf-copy-b { width:100%; background:#f3f3f3;padding:15px 0 70px 17px; border-top:#eee solid 1px;  }
.bf-copy .bf-copy-b a { display:inline-block; position:relative; padding:0 8px 0 4px; font-size:12px; color:#666; }
.bf-copy .bf-copy-b a:after { position:absolute; width:1px; height:10px; top:2px; right:0; background:#ccc; content:""; }
.bf-copy .bf-copy-b a.last:after { width:0; } 

/*fix footer*/
#f-fix { position:fixed; width:100%; left:0; bottom:0; z-index:9999; }
#f-fix .f-tab { position:fixed; width:100%; height:58px; left:0; bottom:0; border-top:#eee solid 1px; background-color:#fff; }
#f-fix .f-tab ul { width:100%; overflow:hidden; }
#f-fix .f-tab ul li { width:20%; float:left; text-align:center;  padding-top:10px; }
#f-fix .f-tab ul li img { height:18px; display:block; margin:0 auto 5px auto; }
#f-fix .f-tab ul li h5 { color:#333; font-size:12px; }
#f-fix .f-tab ul li.homeicon { padding-top:8px; }
#f-fix .f-tab ul li.homeicon img { height:38px; border-radius:50%; box-shadow:0 1px 4px #eee; }

/*font*/
/*overflow:hidden; text-overflow:ellipsis; white-space:nowrap;*/
 /*common*/
.page { overflow:hidden; margin:18px 0 40px 0; padding:0 30px; text-align:center; }
.page span { display:inline-block; }
.pg-prev, .pg-prev-end { float:left; display:inline-block; position:relative; padding-top:4px; }
.pg-prev a, .pg-prev-end a, .pg-next a, .pg-next-end a { display:block; width:20px; height:20px; margin:0 2px; background:url(../img/arrow_bg.svg) no-repeat; }
.pg-prev a { background-position:0 -23px; }
.pg-prev-end a { background-position:-30px -23px; }
.pg-next, .pg-next-end { float:right; display:inline-block; position:relative; padding-top:4px; }
.page .pg-next a { background-position:0 0; }
.page .pg-next-end a { background-position:-30px 0; }
.page .page_number a { display:inline-block; font-size:14px; width:25px; line-height:28px; margin:0 5px; text-align:center; color:#888; }
.page_number a:active, .page span a.page_now { background:#102dc3; color:#fff; }
.page span a:after { content:" "; }
/**/
.thumb-best-tag { display:block; position:absolute; text-align:center;top:0; left:0; width:35px; height:37px;  background:#f43663; opacity:.85; }
.thumb-best-tag em { display:block; color:#fff; opacity:1; }
.thumb-best-tag .tag-txt { font-size:11px; padding-top:3px; }
.thumb-best-tag .tag-num { font-size:14px; font-weight:bold; }
.etc-ntc { padding:18px 20px; background:#fff; margin-bottom:10px; overflow:hidden; }
.etc-ntc ul li { margin-top:6px ;position:relative; color:#555; padding-left:10px; }
.etc-ntc ul li:first-child { color:#555;margin-top:0; }
.etc-ntc ul li:before { position:absolute; width:2px; height:2px; top:7px; left:3px; background:#bbb; content:""; }
.etc-ntc ul li p { font-size:12px; padding-top:3px; color:#777; line-height:1.5; }
.qb-brd-bullet .swiper-pagination-bullet { width:6px; height:6px; }
/*checkbox*/
.selectckd { display:inline-block; }
.selectckd input[type="checkbox"] { position:absolute; width:20px; height:20px; opacity:0; margin-left:-3px; }
.selectckd label { display:inline-block; height:20px; line-height:22px; vertical-align:middle; padding-left:25px; background:url(../img/opt_off.png) no-repeat; color:#555;  background-size:20px 20px; letter-spacing:-0.07em; font-size:15px; }
.selectckd input[type="checkbox"]:checked + label { background:url(../img/opt_onn.png) no-repeat; background-size:20px 20px; }
/*btn*/
.common-next-btn { width:100%; height:46px; background:#1d34aa; border-radius:3px; text-align:center; color:#fff; font-size:15px; }
.topbtn { position:absolute; display:block; width:40px; height:40px; bottom:65px; right:15px; }
.topbtn img { width:40px; }
/*color*/
.rd {color:#ff0000 !important; }
.bfc { color:#223d92 !important; }
.bf { color:#1b3bb5 !important; }
/*loading*/
.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}
.loader:before, .loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
.loader:before {
  animation: before 2s infinite;
}
.loader:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(41, 57, 183, 0.75), -1em 0.5em rgba(41, 57, 183, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(41, 57, 183, 0.75), 0 0.5em rgba(41, 57, 183, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(41, 57, 183, 0.75), 1em 0.5em rgba(41, 57, 183, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(41, 57, 183, 0.75), -1em 0.5em rgba(41, 57, 183, 0.75);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(39, 53, 167, 0.75), -0.5em -1em rgba(39, 53, 167, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(39, 53, 167, 0.75), -0.5em 0 rgba(39, 53, 167, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(39, 53, 167, 0.75), -0.5em 1em rgba(39, 53, 167, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(39, 53, 167, 0.75), -0.5em -1em rgba(39, 53, 167, 0.75);
  }
}
.loader { position: absolute; top: calc(50% - 1.25em); left: calc(50% - 1.25em);
}
